.body_table_caro {
  width: 100%;
  height: 100%;
}
.body_table_caro table {
  text-align: center;
}
.body_table_caro table tbody {
  width: 1500px;
}
.body_table_caro table tbody tr td {
  border: solid 1px;
  width: 30px;
  height: 30px;
}